@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Korak4Uredi
    <form action="/Takmicenje/Korak4UrediSnimi" ajax-poziv="da" ajax-rezultat="ajaxDiv" method="post" class="table table-bordered">
        <div class="form-group">
            <label class="col-sm-2 col-form-label">Učesnik</label>
            <input readonly asp-for="@Model.ImeIPrezime" class="form-control">
        </div>
        <div class="form-group">
            <label class="col-sm-2 col-form-label">Bodovi</label>
            <input  asp-for="@Model.Bodovi" class="form-control">
        </div>
        <input type="hidden" asp-for="@Model.UcesnikId" />
        <input type="submit" class="btn btn-default" value="Snimi" />
    </form>
