
@{
    ViewData["Title"] = "Korak1";
}

<h2>Korak1</h2>

@model IEnumerable<Korak1>

<table class="table table-bordered " >
    <tr>
        <td>Škola</td>
        <td>Nastavnik</td>
        <td>Akcija</td>
    </tr>
    @foreach (var i in Model)
    {
        <tr>
            <td>@i.Skola</td>
            <td>@i.Nastavnik</td>
            <td>
                <a asp-action="Korak2" asp-route-Id="@i.Id" >Odaberi</a>
            </td>
        </tr>
    }
</table>